{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/pb3uoWW.png">
    <title>Desencriptar Mensagem</title>
    <link rel="stylesheet" href="{% static '/css/style.desencriptar.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'chave' %}">Criar Chave Pública</a>
            <a href="{% url 'encriptar' %}">Encriptar</a>
            <a href="{% url 'desencriptar' %}">Desencriptar</a>
        </nav>
    </header>        
        <section class="texto" id="texto">
            <h2 class="texto-titulo">DESENCRIPTAR</h3>
            <p>Digite, respectivamente, os valores de</p>
            <p><strong>p, q, e</strong> e a <strong>mensagem criptografada</strong>:</p>
            <form method="post">
                {% csrf_token %}
                <input name="primo_p" type="number" placeholder="Digite aqui P" required>
                <input name="primo_q" type="number" placeholder="Digite aqui Q" required>
                <input name="expoente_e" type="number" placeholder="Digite aqui E" required>
                <input name="mensagem" type="text" placeholder="Digite aqui a mensagem criptografada" required>
                <input type="submit" value="Enviar">
                {% if mensagem %}
                    <p><b>{{ mensagem }}</b></p>
                {% endif %}
            </form>
        </section>
    </main>
</body>
</html>