{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://i.imgur.com/pb3uoWW.png">
    <title>Criptografia RSA</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body style="background: url({% static '/images/Y4BwCM7.jpg' %}); background-size: cover;">
    <header>
        <nav>
            <a href="{% url 'chave' %}">Criar Chave Pública</a>
            <a href="{% url 'encriptar' %}">Encriptar</a>
            <a href="{% url 'desencriptar' %}">Desencriptar</a>
        </nav>
    </header>
</body>
</html>